body {
    background-image: url('../assets/pantera-negra/wakanda.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

header, a {
    background-color: rgb(29, 28, 28);
    display: flex;
    justify-content: center;
    height: 120px;
    cursor: pointer;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-principal {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
    height: 400px;
    width: 600px;
    padding: 20px;
}

.card-principal h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.card-principal p {
    font-size: 20px;
}


button {
    padding: 20px;
    cursor: pointer;
    border-radius: 16px;
    font-weight: 800;
    width: 150px;
    background-color: #2334ce;
    font-family: 'Mulish', sans-serif;
    color: #fde24f;
    border: 1px solid #fde24f;
    text-align: center;
}

button:hover {
    overflow: hidden;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.texto {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

@media (max-width:915px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 70%;
    }

    .card-principal {
        margin: 10px;
        margin-top: 50px;
    }
}